Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/07_mapping_xsd_components/0701_component_attributes/070106_form/Pos_070106_form_009/Pos_070106_form_009_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="unqualified" 
	targetNamespace="schema:Pos_070106_form_009_2"
	xmlns:ns230_2="schema:Pos_070106_form_009_2">
	<element name="MyElement" type="ns230_2:MyType" />
	<complexType name="MyType">
		<sequence>
			<element name="myField" type="integer" />
		</sequence>
	</complexType>
</schema>
