Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/07_mapping_xsd_components/0701_component_attributes/070106_form/Pos_070106_form_011/Pos_070106_form_011_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" 
	targetNamespace="schema:Pos_070106_form_011_2"
	xmlns:ns232_2="schema:Pos_070106_form_011_2">
	<element name="MyElement" type="ns232_2:MyType" />
    <complexType name="MyType">
       <attribute name="myField" type="integer" />
    </complexType>
</schema>
