Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/07_mapping_xsd_components/0701_component_attributes/070106_form/Pos_070106_form_012/Pos_070106_form_012_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified" 
	targetNamespace="schema:Pos_070106_form_012_2"
	xmlns:ns233_2="schema:Pos_070106_form_012_2">
	<element name="MyElement" type="ns233_2:MyType" />
    <complexType name="MyType">
       <attribute name="myField" type="integer" />
    </complexType>
</schema>
