Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/07_mapping_xsd_components/0701_component_attributes/070104_minoccurs_and_maxoccurs/Pos_070104_minoccurs_and_maxoccurs_005/Pos_070104_minoccurs_and_maxoccurs_005.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Pos_070104_minoccurs_and_maxoccurs_005"
    xmlns:ns117="schema:Pos_070104_minoccurs_and_maxoccurs_005">
	<!-- The length restricted case: --> 
	<complexType name="e15c"> 
		<sequence> 
			<element name="foo" type="integer" minOccurs="5" maxOccurs="10"/> 
			<element name="bar" type="float"/> 
		</sequence> 
	</complexType> 
	<element name="ElemE15c" type="ns117:e15c" />
</schema>
