Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/07_mapping_xsd_components/0701_component_attributes/070104_minoccurs_and_maxoccurs/Pos_070104_minoccurs_and_maxoccurs_003/Pos_070104_minoccurs_and_maxoccurs_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Pos_070104_minoccurs_and_maxoccurs_003"
    xmlns:ns115="schema:Pos_070104_minoccurs_and_maxoccurs_003">
<!-- The unrestricted case: --> 
	<complexType name="e15b"> 
		<sequence> 
			<element name="foo" type="integer" minOccurs="0" maxOccurs="unbounded"/> 
			<element name="bar" type="float"/> 
		</sequence> 
	</complexType> 
	<element name="ElemE15b" type="ns115:e15b" />
</schema>
