Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/07_mapping_xsd_components/0701_component_attributes/070106_form/Neg_070106_form_004/Neg_070106_form_004_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified" 
	targetNamespace="schema:Neg_070106_form_004_2"
	xmlns:ns="schema:Neg_070106_form_004_2">
	<element name="MyElement" type="ns:MyType" />
    <complexType name="MyType">
       <attribute name="myField" type="integer" />
    </complexType>
</schema>