Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/xsd_convert_base/Neg_070106_form_003.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="qualified"
    targetNamespace="schema:Neg_070106_form_003"
    xmlns:ns="schema:Neg_070106_form_003"
    xmlns:ns2="schema:Neg_070106_form_003_2">
  <import namespace="schema:Neg_070106_form_003_2" schemaLocation="Neg_070106_form_003_2.xsd" />
  <element name="MyElement">
	<complexType>
       <sequence>
            <element name="myField2" type="ns2:MyType"/>
            <element ref="ns2:MyElement"/>
       </sequence>
        <attribute name="myField" type="integer" />
    </complexType>
  </element>
</schema>