Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/xsd_convert_base/Neg_070106_form_002_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" 
	targetNamespace="schema:Neg_070106_form_002_2"
	xmlns:ns="schema:Neg_070106_form_002_2">
	<element name="MyElement" type="ns:MyType" />
	<complexType name="MyType">
		<sequence>
			<element name="myField" type="integer" />
		</sequence>
	</complexType>
</schema>