Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/xsd_convert_base/Neg_070106_form_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    targetNamespace="schema:Neg_070106_001"
    xmlns:ns="schema:Neg_070106_form_001"
    xmlns:ns2="schema:Neg_070106_form_001_2">
  <import namespace="schema:Neg_070106_form_001_2" schemaLocation="Neg_070106_form_001_2.xsd" />
  <element name="MyElement">
	<complexType>
		<sequence>
			<element name="myField" type="integer" />
			<element name="myField2" type="ns2:MyType"/>
			<element ref="ns2:MyElement"/>
		</sequence>
	</complexType>
  </element>
</schema>
