Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/xsd_convert_base/Pos_070607_attribute_definitions_attribute_and_attributegroup_references_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Pos_070607_attribute_definitions_attribute_and_attributegroup_references_001"
    xmlns:ns201="schema:Pos_070607_attribute_definitions_attribute_and_attributegroup_references_001">
    <attributeGroup name="ag1">
        <attribute name="foo" type="float"/>
        <attribute name="bar" type="float"/>
    </attributeGroup>
    <complexType name="c1">
        <sequence>
            <element name="ding" type="string"/>
        </sequence>
        <attributeGroup ref="ns201:ag1"/>
    </complexType>
    <element name="e1" type="ns201:c1"/>
</schema>
