Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/xsd_convert_base/Pos_070107_type_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_070107_type_002"
  xmlns:ns133="schema:Pos_070107_type_002">
  <complexType name="MyBase">
    <sequence>
      <element name="foo" type="string" />
      <element name="bar" type="integer" />
    </sequence>
  </complexType>
  <element name="MyType" type="ns133:MyBase" />
</schema>
