Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/xsd_convert_base/Pos_0608_anytype_and_anysimpletype_types_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_0608_anytype_and_anysimpletype_types_002"
  xmlns:ns110="schema:Pos_0608_anytype_and_anysimpletype_types_002">
  <attribute name="attr" type="string" />
  <element name="bar" type="string" />
  <element name="foo" type="string" />
  <element name="MyType" type="anyType" />
</schema>
