Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/xsd_convert_base/Pos_070402_attribute_group_definitions_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Pos_070402_attribute_group_definitions_001"
    xmlns:ns144="schema:Pos_070402_attribute_group_definitions_001">
    <attributeGroup name="Agroup">
        <attribute name="fgroup" type="float" />
        <attribute name="sgroup" type="string" />
        <attribute name="igroup" type="integer" />
    </attributeGroup>
    <complexType name="c1">
        <sequence>
            <element name="elem" type="string"/>
        </sequence>
        <attributeGroup ref="ns144:Agroup" />
    </complexType>
    <element name="e1" type="ns144:c1" />
</schema>
