Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/xsd_convert_base/Pos_070603_referencing_group_components_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_070603_referencing_group_components_001"
  xmlns:ns169="schema:Pos_070603_referencing_group_components_001">
  <group name="shipAndBill">
    <sequence>
      <element name="shipTo" type="string"/>
      <element name="billTo" type="string"/>
    </sequence>
  </group>
  <element name="MyType">
    <complexType>
      <group ref="ns169:shipAndBill"/>
    </complexType>
  </element>
</schema>
