Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/xsd_convert_base/Pos_07060102_restricting_simple_content_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="schema:Pos_07060102_restricting_simple_content_001"
    xmlns:ns158="schema:Pos_07060102_restricting_simple_content_001">
	<complexType name="c1">
		<simpleContent>
			<extension base="string">
				<attribute name="foo" type="float"/>
				<attribute name="bar" type="integer"/>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="c2">
		<simpleContent>
			<restriction base="ns158:c1">
				<length value="4"/>
			</restriction>
		</simpleContent>
	</complexType>

	<element name="e1" type="ns158:c2"/>
</schema>
