Eclipse_Titan_Core/titan.core/conformance_test/xml_tests/positive_tests/ATS/07_mapping_xsd_components/0706_complextype_components/070603_referencing_group_components/Pos_070603_referencing_group_components_006/Pos_070603_referencing_group_components_006.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="schema:Pos_070603_referencing_group_components_006"
  xmlns:ns174="schema:Pos_070603_referencing_group_components_006">
  <group name="shipAndBill">
    <all>
      <element name="shipTo" type="string"/>
      <element name="billTo" type="string"/>
    </all>
  </group>
  <element name="MyType">
    <complexType>
      <group ref="ns174:shipAndBill" minOccurs="0"/>
      <attribute name="attr" type="string" />
    </complexType>
  </element>    
</schema>
