Eclipse_Titan_Core/titan.core/regression_test/XML/XmlWorkflow/xsd/anyattr_in_complex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:this="www.example.org/anyattr/in/complex"
    targetNamespace="www.example.org/anyattr/in/complex">

<xsd:complexType name="DependentLocalityType">
	<xsd:sequence>
		<xsd:element name="DependentLocalityName" minOccurs="0" maxOccurs="unbounded">
			<xsd:complexType>
				<xsd:anyAttribute namespace="##other"/>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="DependentLocalityNumber" minOccurs="0">
			<xsd:complexType>
			</xsd:complexType>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

</xsd:schema>

