Eclipse_Titan_Core/titan.core/regression_test/XML/XmlWorkflow/xsd/element_in_all_mixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 targetNamespace="www.example.org/unnamed/union"
 xmlns:ns="www.example.org/seq/element/in/all/mixed"
 elementFormDefault="unqualified"> 



<xsd:element name="MyComplexElem-13">
	<xsd:complexType mixed="true">
		<xsd:all>
			<xsd:element name="a" type="xsd:string"/>
			<xsd:element name="b" type="xsd:boolean"/>
		</xsd:all>
		<xsd:attribute name="foo" type="xsd:string" />
	</xsd:complexType>
</xsd:element> 



</xsd:schema>

