Eclipse_Titan_Core/titan.core/regression_test/XML/XmlWorkflow/xsd/import_prefix_name.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.w3.org/2001/XMLSchema"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 targetNamespace="www.example.org/import/prefix"
 xmlns:this="www.example.org/import/prefix"
 xmlns:imp="www.example.org/imported">
<xs:import namespace="www.example.org/imported" schemaLocation="imported_prefix_name.xsd"/>

<xs:element name="Foobar" type="imp:foobar"/>

<xs:attribute name="Ding" type="imp:ding"/>

<xs:complexType name="valami">
	<xs:sequence>
		<xs:element name="Foobar" type="imp:foobar"/>
	</xs:sequence>
	<xs:attribute name="Ding" type="imp:ding"/>
</xs:complexType>

<xs:element name="Valami" type="this:valami"/>

</xs:schema>
