Eclipse_Titan_Core/titan.core/regression_test/XML/XmlWorkflow/xsd/module_typename_conversion_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="MyTypes">

<xsd:attribute name="MyTypes__" type="string"/>

<xsd:element name="MyTypes_" type="string"/>

<xsd:element name="MyTypes">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="MyTypes" type="string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

</xsd:schema>
