Eclipse_Titan_Core/titan.core/regression_test/XML/XmlWorkflow/xsd/substitutiongroup_main.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:A="www.example.org/substitutiongroup/main"
            targetNamespace="www.example.org/substitutiongroup/main">

<xsd:import namespace="www.example.org/substitutiongroup/ref"/>

<xsd:element name="subsgroup" type="xsd:string" abstract="true" />

<xsd:element name="refgroup" type="A:subsgroup" />

<xsd:complexType name="complexGroup">
	<xsd:sequence>
		<xsd:element ref="A:subsgroup"/>
	</xsd:sequence>
</xsd:complexType>

</xsd:schema>
