Eclipse_Titan_Core/titan.core/regression_test/XML/XmlWorkflow/xsd/www_example_org_pref2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="unqualified" 
	targetNamespace="www.example.org/pref2"
	xmlns:ns="www.example.org/pref2">
	<element name="MyElement" type="ns:MyType" />
	<element name="MyElement2" type="ns:MyType" />
	<complexType name="MyType">
		<sequence>
			<element name="myField" type="integer" />
		</sequence>
	</complexType>
</schema>
