Eclipse_Titan_Core/titan.core/regression_test/XML/XmlWorkflow/xsd/xml_in_annotation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:this="www.example.org/xml/in/annotation"
 targetNamespace="www.example.org/xml/in/annotation">

<xsd:attribute name="tcname" type="xsd:string">
	<xsd:annotation>
		<xsd:appinfo>
			<xsd:attribute name="dataParamName" fixed="TCName" default="TCName" />
		</xsd:appinfo>
		<xsd:documentation> comment </xsd:documentation>
	</xsd:annotation>
</xsd:attribute>

<xsd:attribute name="tcname2" type="xsd:string">
	<xsd:annotation>
		<xsd:documentation>some comment</xsd:documentation>
	</xsd:annotation>
</xsd:attribute>

</xsd:schema>
